<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <link rel="stylesheet" href="/stylesheets/style.css">  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LKKXKTLVDP"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LKKXKTLVDP');
    </script>
        <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
    <div class="name">
        <div class="img">
            <img src="foto/greciacr.jpg" alt="">
        </div>
<div class="content">
<p class="p-1">Grecia Colmenares</p>
<p class="p-2">18 años, bachiller tecnico</p>
</div>
    </div>
<div class="info">
    <p class="tituloseccion">INFORMACION PERSONAL</p>
    <p class="Nombres y Apellidos"></p>
    <p class="infoinfo">Grecia Ariadna Colmenares Rangel</p><br>
    <p class="tituloinfo">correo electronico</p>
    <p class="infoinfo">Greciacolmenares31@gmail.com</p><br>
    <p class="tituloinfo">fecha de nacimiento</p>
    <p class="infoinfo">07-05-2003</p><br>
    <p class="tituloinfo">direccion</p>
    <p class="infoinfo">san francisco de asis.Edo aragua</p><br>
    <p class="tituloinfo">C.I</p>
    <p class="infoinfo">30.211.521</p><br>
    <p class="tituloseccion">REDES SOCIALES</p>
    <p class="infoinfo">FACEBOOK:grecia colmenares</p><br>
    <p class="infoinfo">INSTAGRAM:GRECIA0705CR</p><br>

</div>

<div class="info">
    <p class="tituloseccion">FORMACION ACADEMICA</p>
    <p class="tituloinfo">2015-2020</p>
    <p class="infoinfo">bachiller</p>
    <p class="tituloinfo">"Madre enriqueta de lourdes"</p><br>
    <p class="tituloinfo">2020-en curso</p>
    <p class="tituloinfo">U.E.N "ROMULO GALLEGOS"</p><br>

    <div class="info">
        <p class="tituloseccion">EXPERIENCIA LABORAL</p>
        <p class="tituloinfo">2018-2022</p>
        <p class="infoinfo">REFRESQUERIA CHARCUTERIA Y RESTAURANT EL ESTADIO </p>
        <p class="tituloinfo">(ACTUALMENTE)</p><BR></BR>
</div>
<div class="form">
    <form class="form" action="/" method="POST" id="formulario">
        <h2>Contacto</h2>
        <p type="Nombre:">
            <input name="nombre" placeholder="indique su nombre completo..." value="<%= tarea.nombre%>">
            /p>

        <p type="Email:">
            <input name="email" placeholder="indique su Email..." value="<%= tarea.email%>">
        </p>

        <p type="comentario:">
            <input name="comentario" placeholder="indique sus necesidades en este campo..." value="<%= tarea.comentario%>">
        </p>
        <captcha
        class="g-recaptcha"
        data-sitekey= <%= process.env.SITE_KEY %>
      </captcha>
            <button type="submit">Enviar mensaje</button>
            <input type="hidden" name="ip" value="<%= tarea.ip%>"/>
            <input type="hidden" name="fecha" value="<%= tarea.fecha%>">
            <div>
                <span class="fa fa-phone"></span> 0412-4327320
                <span class="fa fa-envelope-o"></span> greciacolmenares31@.com
            </div>
    <form>
</div>
<script>
    document.getElementById("formulario").addEventListener("submit",function(evt)
  {
  
  var response = grecaptcha.getResponse();
  var nombre = document.getElementById('nombre')
    var correo = document.getElementById('email')
    var comentario = document.getElementById('comentario')
  if(response.length == 0 || nombre.value=="" || email.value=="" || comentario.value=="") 
  { 
    //reCaptcha not verified
    alert("POR FAVOR RELLENA TODOS LOS CAMPOS Y VERIFICA QUE ERES UN HUMANO!"); 
    evt.preventDefault();
    return false;
  } else {
  //captcha verified
  alert("SUS DATOS SE HAN ENVIADO CON EXITO"); 
  //do the rest of your validations here
  }
});
</script>
</body>
</html>
